:root {
  font-family: 'Poppins';
}

#app {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  font-family: 'Poppins';
}

.container-fluid {
  font-family: 'Poppins';
  padding-right: 0rem;
  padding-left: 0rem;
}

.row {
  font-family: 'Poppins';
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin: 0 0 0 0;
}

p {
  font-family: 'Poppins';
  margin-top: 0;
  margin-bottom: 0;
}
